# =====================================================================
# Example PV Linux guest configuration
# =====================================================================
#
# This is a fairly minimal example of what is required for a
# Paravirtualised Linux guest. For a more complete guide see xl.cfg(5)

# Guest name
name = "debianvm1"

# Initial memory allocation (MB)
# Sets the ram for the guest 
memory = 3086

# Maximum memory (MB)
# If this is greater than `memory' then the slack will start ballooned
# (this assumes guest kernel support for ballooning)
#maxmem = 512

# Number of VCPUS
vcpus = 1

# Network devices
# A list of 'vifspec' entries as described in
# docs/misc/xl-network-configuration.markdown
vif = ['']

# Disk Devices
# Sets the file name to the image that we have installed Debian on
# 
disk = ['file:/home/user1/qemu_xen/debianvm1.img,hda,w']

# Sets the nographic to yes in order to boot from Xen properly (especially if you're running through SSH or Terminal)
nographic = "yes"

# Sets the bootloader to PyGrub
bootloader = "/usr/lib/xen-4.4/bin/pygrub"

# Boots from the disk using "c"
boot = "c"
